/ {
    chosen {
        zephyr,ppp-uart = &usart1;
    };

    // cdc_ncm_eth0: cdc_ncm_eth0 {
    //     compatible = "zephyr,cdc-ncm-ethernet";
    //     remote-mac-address = "00005E005301";
    // };
};
